#nestedViewerExtensionButton {
    background-image: url(https://img.icons8.com/color/64/000000/picture-in-picture.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
}

#nestedViewerExtensionButton.active {
    filter: none;
}

#nestedViewerExtensionDropdown {
    background: #eee;
    color: #333;
}
